
<ion-view view-title="Dashboard">
  <ion-content>
   
 <div class="list">

  <a class="item item-icon-left item-icon-right" href="#/list_barang">
    <i class="icon ion-android-list"></i>
    List Barang
     <i class="icon ion-chevron-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/input_barang">
    <i class="icon ion-compose"></i>
    Input Barang
    <i class="icon ion-chevron-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/profile">
    <i class="icon ion-android-person"></i>
    Profile
    <i class="icon ion-chevron-right"></i>
  </a>
</div>
  </ion-content>

</ion-view>
