<ion-view view-title="Input Barang">
  <ion-content>
   
    <div class="list">

      <label class="item item-input item-select">
    <div class="input-label">
      Komoditas
    </div>
    <select ng-model="barang.komoditas_id">
      <option></option>
      <option selected value="1">Beras</option>
      <option>Gula</option>
      <option>Daging</option>
      <option>Minyak Goreng</option>
    </select>
  </label>

  <label class="item item-input">
    <select ng-model="barang.komoditas_id">
      <option ng-repeat="j in jenis" value="{{j.id}}">{{j.nama}}</option>
    </select>
    <input type="text" placeholder="Jenis" ng-model="barang.jenis">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Nama" ng-model="barang.nama">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Stok" ng-model="barang.stok">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Price" ng-model="barang.price">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Latitude" ng-model="barang.latitude">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Longitude" ng-model="barang.longitude">
  </label>

  <button class="button button-full button-positive" ng-click="createBarang(barang);" >
  Submit
</button>
</div>
  </ion-content>
</ion-view>
