<ion-view view-title="Input Barang">
  <ion-content>
   
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Komoditas">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Jenis">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Harga">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Lokasi">
  </label>
  <button class="button button-full button-positive">
  Submit
</button>
</div>
  </ion-content>
</ion-view>
