<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close_produsen_modal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <p style="margin-left:20px;"><b>Jenis : </b><br>Cianjur Kepala<br>
    <b>Stok : </b><br>100 Kg<br>
    <b>Price : </b><br>Rp 20.435</p>
<hr>
    <p style="margin-left:20px;"><b>Jenis : </b><br>Sentra<br>
    <b>Stok : </b><br>250 Kg<br>
    <b>Price : </b><br>Rp 20.500</p>
    <hr>
    <p style="margin-left:20px;"><b>Jenis : </b><br>Cianjur Slyp<br>
    <b>Stok : </b><br>450 Kg<br>
    <b>Price : </b><br>Rp 12.000</p>
  </ion-content>
</ion-modal-view>
